body {
    background-image: url('../img/project2_assets/background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: rgb(111, 180, 240);
    transform: translateY(15%);
}

 



.welcome-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
}

.welcome-container img {
    position: absolute;
    width: 20%; 
    height: auto;
    transform: rotate(-2deg) scale(2.2);
    top: 5%;
    margin-left: 10%;

}



.welcome-text {
    position: absolute;
    text-align: center;
    top: 25%; /* Center vertically */
    left: -1.5%; /* Center horizontally */
    transform: rotate(-20deg);
    color: rgb(214, 228, 217); /* Text color */
    font-size: 24px; /* Font size */
    width: 15%;
    z-index: 2; /* Ensure text is on top of the image */
    padding: 10%;
}

.welcome-text:hover{
    transform: scale(1.1) rotate(2deg) translateY(-5px);
}

.mecchamatcha img {
    position: relative;
    width: 12.50%; 
    height: auto;
    top: 20%;
    left: 55%;
    transform: rotate(10deg) scale(1.3);
}

.mecchamatcha img:hover {
    transform: scale(1.4) rotate(2deg) translateY(-5px);
}

.insit img {
    position: absolute;
    width: 12.5%; 
    height: auto;
    margin-top: -25%;
    margin-left: 33%;
    transform: scale(1.3);
}

.insit img:hover {
    transform: scale(1.2) rotate(2deg) translateY(-5px);
}

.stereoscope img {
    position: absolute;
    width: 12.50%; 
    height: auto;
    margin-top: -50%;
    margin-left: 45%;
    transform: scale(1.3) rotate(10deg);
}

.stereoscope img:hover {
    transform: scale(1.2) rotate(2deg) translateY(-5px);
}

.whatismatcha img {
    position: absolute;
    width: 15%; 
    height: auto;
    transform: rotate(20deg) scale(2.2) translateX(50%);
    top: 1%;
    margin-left: 60%;
    margin-top: 7%;
}




