body {
    background-color: #4D80BA;
    
    }
    

.stereoscope img{
    width: 500px; 
    height: auto;
    margin-right: 20px; 
    padding: 30px;

}

.sprite {
    height: 815px;
    width: 500px;
    background: #4D80BA;
    background: url(../img/spritestereoscope.png) 0 25px;
}

.sprite:hover{
  background: url(../img/spritestereoscope.png) 0 -780px;
}